{% extends "layout.html" %}

{% block content %}
<div class="row">

  <h1>Episodes</h1>

    {% for episode in episodes %}

    <div class="col-sm-3 col-6 card bg-light m-3 border-info" style="max-width: 18rem;">
      <div class="card-header bg-light d-flex justify-content-between alert-light" ><a href="/episode/{{episode.id}}" class="alert-link"><span class="font-weight-bold">{{episode.name}}</span></a><span class="text-right">{{episode.episode}}</span></div>
          <div class="card-body bg-light" style="text-decoration: none !important;">
            <p class="card-text">{{episode.air_date}}</p>
          </div>
    </div>

    {% endfor %}

    <nav aria-label="Navegação de página">
        <ul class="pagination justify-content-center m-5">
          <li class="page-item">
            {% if page==1 %}
            <a class="page-link disabled" href="#" tabindex="-1"> << </a>
            {% else %}
            <a class="page-link" href="/episodes?page={{previous_page}}" tabindex="-1"> << </a>
            {% endif %}
          </li>
          <li class="page-item active">
            <p class="page-link">{{page}}</p>
          </li>
          <li class="page-item active">
            <p class="page-link ">of</p>
          </li>
          <li class="page-item active">
            <p class="page-link ">3</p>
          </li>
          <li class="page-item">
            {% if page==3 %}
            <a class="page-link disabled" href="#"> >> </a>
            {% else %}
            <a class="page-link" href="/episodes?page={{next_page}}"> >> </a>
            {% endif %}
          </li>
        </ul>
      </nav>
</div>
{% endblock %}