<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rick&Morty Guide</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous">
    </head>
    <body>

        <main class="container">

            {% include "nav.html" %}
    
            <div class="row">           

                {% block content %} {% endblock %}

            </div>
            
        </main>

        <footer>
            <div class="jumbotron jumbotron-fluid bg-light">
                <div class="container">
                  <h3 class="h5 pt-4">Squad Katherine Johnson</h3>
                  <ul class="d-flex flex-wrap">
                    <li class="list-group-item lead p-4">
                        Fernanda Pestana
                    </li>
                    <li class="list-group-item lead p-4">
                        Amanda Paul
                    </li>
                    <li class="list-group-item lead p-4">
                        Gleyce Alves 
                    </li>
                    <li class="list-group-item lead p-4">
                        Juliana Carvalho
                    </li>
                    <li class="list-group-item lead p-4">
                        Heloísa Santos
                    </li>
                    <li class="list-group-item lead p-4">
                        Carolina Mendes
                    </li>
                    <li class="list-group-item lead p-4">
                        Lais Victoria
                    </li>
                    <li class="list-group-item lead p-4">
                        Jataiza Barboza
                    </li>
                    <li class="list-group-item lead p-4">
                        Maiara Santos
                    </li>
                    <li class="list-group-item lead p-4">
                        Nicolle Sturzbecher
                    </li>
                    <li class="list-group-item lead p-4">
                        Mariana Nascimento
                    </li>
                  </ul>
                </div>
              </div>
        </footer>
    </body>
</html>