{% extends "layout.html" %}

{% block content %}

<div class="row mx-auto">

    <h1>Location: <span class="text-secondary">{{location.name}}</span> </h1>
    
    <div class="row">
        
        <div class="col">
            <p class="card-text"><b>Type: </b>{{location.type}}</p>
            <p class="card-text"><b>Dimension: </b>{{location.dimension}}</p>
            <p class="card-text"><b>Residents: </b></p>


            <ul class="card-text">
            {% for resident in residents %}
                <li><a href="/character/{{resident.id}}" >{{resident.name}} </a></li>
            {% endfor %}
            </ul>

        </div>
        
        
    </div>

</div>
{% endblock %}
