{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>Detalhes da Localização</h1>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ local.name }}</h3>
            <p class="card-text">Tipo: {{ local.type }}</p>
            <p class="card-text">Dimensão: {{ local.dimension }}</p>
            <h5 class="card-title">Residentes:</h5>
            <ul>
            {% for character_url in episode.characters %}
                {% set character_id = character_url.split('/')[-1] %}
                {% set character_info = get_character_info(character_id) %}
                {% if character_info %}
                    <li class="list-group-item">
                        <a href="/profile/{{ character_id }}" class="card-link">{{ character_info.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
